script(src: '/files/js/jquery-1.4.4.min.js')
script(src: '/files/js/modernizr-1.6.min.js')
script(src: '/files/js/sammy/min/sammy-latest.min.js')
script(src: '/files/js/router.js')
script(src: '/files/js/functions.js')

link(rel: 'stylesheet', href: '/files/css/reset.css')
link(rel: 'stylesheet', href: '/files/css/styles.css')
link(rel: 'stylesheet', href: '/files/css/forms.css')
link(rel: 'stylesheet', href: '/files/css/sticky_footer.css')
link(rel: 'stylesheet', href: '/files/css/admin.css')


link(rel: 'shortcut icon', href: '/files/favicon.ico')
