!!! 5
html(lang="en")
  head
		title BAS @ CMS
    meta(charset: 'utf-8')
    meta(http-equiv: 'X-UA-Compatible', content: "IE=edge, chrome=1")
    meta(name: 'description', content: 'BAS CMS')
    meta(name: 'author', content: 'Bas van der Heijden')
    meta(name: 'viewport', content: "width=device-width, initial-scale:1.0")
		!= partial('assets')
  body
    header
      h1 
        a(href: '/admin') BAS CMS
      #operations
        - if (logged_in)
          a.no-ajax(href: '/admin/users/logout') Log out
        - else
          a(href: '/admin/users/login') Login
      .clear
