!!! 5
html(lang="en")
  head
		title Citroenboom.com - Built with BAS CMS
    meta(charset: 'utf-8')
    meta(http-equiv: 'X-UA-Compatible', content: "IE=edge, chrome=1")
    meta(name: 'description', content: 'Citroenboom.com')
    meta(name: 'author', content: 'Bas van der Heijden')
    meta(name: 'viewport', content: "width=device-width, initial-scale:1.0")
	  != partial('assets')
  body
    header
			a#logo.no-border(href: '/', title: 'Citroenboom.com')
